.navbar{

    background:#0f172a;

    color:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:18px 40px;

    position:sticky;

    top:0;

    z-index:1000;

    box-shadow:0 3px 10px rgba(0,0,0,.2);

}

.logo{

    font-size:30px;

    font-weight:bold;

}

.menu{

    display:flex;

    gap:30px;

}

.menu a{

    color:white;

    text-decoration:none;

    font-size:18px;

    padding:10px 16px;

    border-radius:8px;

    transition:.3s;

}

.menu a:hover{

    background:#2563eb;

}

.icons{

    display:flex;

    gap:20px;

}

.icons a{

    color:white;

    text-decoration:none;

    font-size:26px;

    transition:.3s;

}

.icons a:hover{

    transform:scale(1.15);

}

.activo{

    background:#2563eb;

}

.logo{

    cursor:pointer;

}