.header{

    background:#1e293b;

    color:white;

    text-align:center;

    padding:25px;

}

.header h1{

    margin:0;

    font-size:42px;

}

.header p{

    margin-top:10px;

    color:#cbd5e1;

}