<section class="contact-container">

  <h1>Contacto</h1>

  <p class="intro">
    ¿Tienes dudas sobre algún componente o necesitas asesoría para armar tu PC?
    Escríbenos y te ayudaremos.
  </p>

  <div class="contact-info">

    <div>
      <h3>📍 Dirección</h3>
      <p>Av. Principal TechStore, Ecuador</p>
    </div>

    <div>
      <h3>📞 Teléfono</h3>
      <p>+593 0963372410</p>
    </div>

    <div>
      <h3>✉️ Correo</h3>
      <p>rendpc68@gmail.com</p>
    </div>

  </div>

  <form class="contact-form" (ngSubmit)="enviarFormulario()">

    <label>Nombre:</label>

    <input
      type="text"
      [(ngModel)]="nombre"
      name="nombre"
      placeholder="Ingrese su nombre">

    @if (enviado && nombre.trim().length < 3) {
      <small class="error">
        El nombre debe tener al menos 3 caracteres.
      </small>
    }

    <label>Correo:</label>

    <input
      type="email"
      [(ngModel)]="correo"
      name="correo"
      placeholder="Ingrese su correo">

    @if (enviado && !validarCorreo(correo)) {
      <small class="error">
        Ingrese un correo válido.
      </small>
    }

    <label>Mensaje:</label>

    <textarea
      rows="5"
      [(ngModel)]="mensaje"
      name="mensaje"
      placeholder="Escriba su mensaje">
    </textarea>

    @if (enviado && mensaje.trim().length < 10) {
      <small class="error">
        El mensaje debe contener al menos 10 caracteres.
      </small>
    }

    <button type="submit">
      Enviar mensaje
    </button>

  </form>

</section>