.product-detail{

    display:flex;

    gap:50px;

    max-width:1100px;

    margin:60px auto;

    padding:20px;

    align-items:center;

}

.product-detail img{

    width:420px;

    max-width:100%;

    object-fit:contain;

}

.info{

    flex:1;

}

.info h1{

    margin-bottom:10px;

}

.info h3{

    color:#2563eb;

    margin-bottom:20px;

}

.info p{

    margin:12px 0;

    line-height:1.6;

}

button{

    margin-top:25px;

    padding:15px 30px;

    border:none;

    border-radius:10px;

    background:#2563eb;

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#1d4ed8;

}