h1{

    text-align:center;

    margin:30px;

}

.cart-item{

    display:flex;

    gap:25px;

    align-items:center;

    max-width:1000px;

    margin:20px auto;

    padding:20px;

    border-radius:12px;

    box-shadow:0 2px 8px rgba(0,0,0,.1);

}

.cart-item img{

    width:150px;

    height:150px;

    object-fit:contain;

}

.info{

    flex:1;

}

button{

    padding:10px 18px;

    border:none;

    border-radius:8px;

    cursor:pointer;

}

hr{

    max-width:1000px;

    margin:30px auto;

}

h2{

    text-align:center;

}